body {
  background: azure;
  color: #888;
  font: "Lato", "Open Sans", Helvetica, Arial, sans-serif;
}

header {
 background-color: grey;
 background-position: center top;
 line-height: 1.5;
 text-align: center;
}

.menu{
text-decoration: none;
text-decoration: none;
}

.main{
text-align: center;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.login{
font size:48px;
}